.container-user-editModal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: var(--z-modal);
}

.user-editModal {
  background-color: var(--primary-bg-color);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.editModal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.editModal-header .header-main {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.3rem;
}

.editModal-header .icon-close {
  font-size: 2rem;
  position: relative;
  top: 5px;
  cursor: pointer;
}

.container-editInputs {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.editModal-content {
  overflow-y: auto;
}

.header-birthDate {
  color: var(--grey-color);
}

.container-editBirthDate {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;
}

.container-editBirthDate input[type="date"] {
  font-family: inherit;
}

.container-editBirthDate .container-dateEdit {
  display: flex;
  gap: 1rem;
}

@media only screen and (min-width: 768px) {
  .container-user-editModal {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .user-editModal {
    max-height: 600px;
    width: 600px;
    max-width: 80vw;
    border-radius: 1rem;
  }
}
