.user-list .user-search-card:last-child {
  border-bottom: 1px solid var(--dark-grey-color);
}

.user-list a {
  text-decoration: none;
}

.container-search-input {
  text-align: center;
  padding: 0.8rem 0;
}

.container-search-input input {
  width: 70%;
  border-radius: 2rem;
  font-size: 1.2rem;
  font-family: inherit;
  padding: 0.4rem 1rem;
  outline: none;
  border: none;
  background-color: var(--dark-grey-color);
  color: var(--primary-text-color);
}
