.navbar-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 1rem;
  color: var(--primary-text-color);
}

.navbar-mobile .btn-nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
}

.navbar-mobile a {
  text-decoration: none;
  color: var(--primary-text-color);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.btn-nav .icon {
  font-size: var(--font-size-icon-navbar-mobile);
}

.nav-heading {
  display: none;
}

.btn-nav-guides .heading {
  position: relative;
  bottom: 6px;
}

.sidenav {
  position: fixed;
  left: 0;
  /* top: var(--height-header); */
  border-right: var(--primary-border);
  width: var(--width-sidenav);
  height: 100%;
  padding: 1rem 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.sidenav .navbar-mobile {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container-profile-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--dark-grey-color);
  border-radius: 2rem;
  padding: 0.5rem 0;
  margin: 0 1rem 0 1.4rem;
}

.container-post-button {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.container-post-button .shoto-button {
  padding: 1rem 3.5rem !important;
}

.sidenav a {
  text-decoration: none;
  color: var(--primary-text-color);
}

.sidenav .logo {
  margin: 0 0 1rem 0;
}

.sidenav .shoto-avatar-fallback {
  font-size: 1.2rem !important;
}

@media only screen and (min-width: 768px) {
  .nav-heading {
    display: block;
    font-size: 1.2rem;
    position: relative;
    bottom: 2px;
  }

  .navbar-mobile {
    align-items: flex-start;
  }

  .btn-nav:hover {
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.08);
  }
}
