.container-postcard {
  display: flex;
  background: transparent;
  border-top: 1px solid var(--dark-grey-color);
  --padding-content: 0.5rem 1rem;
}

.container-postcard .container-profilePic {
  padding: var(--padding-content);
}

.container-postcard .container-post-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem 1rem 0.5rem 0;
  flex-grow: 1;
}

.container-profilePic .shoto-avatar-fallback {
  font-size: 1.5rem !important;
}

.author-details {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-weight: 500;
}

.separator-dot {
  position: relative;
  bottom: 5px;
  margin: 0 0.1rem;
}
