.container-userProfile {
  display: flex;
  flex-direction: column;
}

.profile-toprow {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.profile-toprow button {
  align-self: flex-end;
}

.img-banner {
  width: 100%;
  height: auto;
}

.banner-placeholder {
  width: 100%;
  height: auto;
  aspect-ratio: 3 / 1;
  background-color: var(--primary-highlight-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-userInfo {
  padding: 0 1rem;
  position: relative;
  top: -2.5rem;
}

.container-userInfo .container-avatar {
  width: max-content;
  border-radius: 50%;
  border: 5px solid black;
}

.profile-followDetails {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}

.profile-bio {
  margin: 0.5rem 0;
}

.profile-personalInfo {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.profile-personalInfo .icon {
  font-size: 1.2rem;
}

.profile-personalInfo a {
  color: var(--primary-highlight-color);
}

.container-personalInfo {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.info-content {
  position: relative;
  bottom: 2px;
}

.profile-posts {
  position: relative;
  top: -1.5rem;
}
